body {
    background-image: url('/img/pexels-photo-668298.jpeg'); /* Ruta correcta */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Elimina márgenes para que ocupe todo el espacio */
}

.card {
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegura que la tarjeta ocupe todo el ancho posible */
    max-width: 400px; /* Establece un máximo ancho */
}

    .card img {
        max-width: 200px;
        margin: 30px auto 20px;
        display: block;
        border-radius: 50%;
        border: 5px solid #fff;
    }

.card-header {
    background-color: #007bff;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
