<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoClinicaDSW.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
</head>
<body>
    <div class="wrapper">

        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>Clínica Salud</h2>
            </div>
            <ul class="sidebar-menu">
                <li><a href="#inicio" class="active">Inicio</a></li>
                <li><a href="#pacientes">Gestión de Pacientes</a></li>
                <li><a href="#medicos">Gestión de Médicos</a></li>
                <li><a href="#citas">Gestión de Citas</a></li>
                <li><a href="#reportes">Reportes</a></li>
                <li><a href="#logout">Cerrar Sesión</a></li>
            </ul>
        </aside>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
