@model ProyectoClinicaDSW.Models.CitaReg

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar Cita</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

            <div class="form-group mb-3">
                <label asp-for="nombreCita" class="control-label">Nombre de la Cita</label>
                <input asp-for="nombreCita" class="form-control" />
                <span asp-validation-for="nombreCita" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="idPaciente" class="control-label">Paciente</label>
                <select asp-for="idPaciente" class="form-control" asp-items="ViewBag.pacientes">
                    <option value="">Seleccione</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="idMedico" class="control-label">Médico</label>
                <select asp-for="idMedico" class="form-control" asp-items="ViewBag.medicos">
                    <option value="">Seleccione</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="fechaHora" class="control-label">Fecha y Hora</label>
                <input asp-for="fechaHora" type="datetime-local" class="form-control" />
                <span asp-validation-for="fechaHora" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="idEstado" class="control-label">Estado</label>
                <select asp-for="idEstado" class="form-control" asp-items="ViewBag.estados">
                    <option value="">Seleccione</option>
                </select>
            </div>

            <div class="form-group d-flex justify-content-between">
                <input type="submit" value="Crear" class="btn btn-primary me-2" />
                <a asp-action="FilterCita" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    @ViewBag.mensaje
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
